<%= form_for @team do |f| %>
  <fieldset>
    <legend><%= header.to_s %></legend>
    <ul>
      <li>
        <%= render "user_code", object: f %>
      </li>
      <li>
        <%= f.label :name, 'Name*' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :number, 'Number*' %>
        <%= f.text_field :number %>
      </li>
    </ul>
    <%= f.submit %>
  </fieldset>
<% end %>