<article id="<%= dom_id(user) %>" class="user">
  <p>
    Id: <%= user.id %>
  </p>
  <p>
    Login: <%= user.login %>
  </p>
  <p>
    <%= link_to "Edit", edit_user_path(user) %>
  </p>
   <p>
    <%= link_to_add_data "Audits", user_audits_path(user) %>: <%= user.audits_count %>
  </p>
</article>