<article id="<%= dom_id(user) %>" class="drilldown" data-behavior="list" data-type="user" data-id="<%= user.id %>">
     <div>
      <%= drilldown_link %>
    </div>
    <div>
      <%= user.id %>.
    </div>
    <div>
      <%= user.login %>
    </div>
     <div>
      <%= link_to image_tag("edit.png", alt: "Edit", title: "Edit"), edit_user_path(user) %>
    </div>
</article>