<%= form_for @scan, url: scans_path do |f| %>
  <fieldset>
    <legend>Scan In/Out</legend>
    <ul>
      <li>
        <%= render "user_code", object: f %>
      </li>
      <li>
        <div><%= f.label :location_barcode %> <span class="note">(Leave blank to scan out)</span></div>
        <div><%= f.text_field :location_barcode %></div>
      </li>
      <li>
        <div><%= f.label :start_position %> <span class="note">(Only necessary for locations with coordinates)</span></div>
        <div><%= f.text_field :start_position %></div>
      </li>
      <li>
        <div><%= f.label :labware_barcodes, 'Labware barcodes*' %></div>
        <div class="pr-5"><%= f.text_area :labware_barcodes %></div>
      </li>
      <li>
          <%= f.submit "Go!", data: {disable_with: "inserting..."} %>
      </li>
    </ul>
  </fieldset>
<% end %>
