<article id="<%= dom_id(printer) %>" class="drilldown" data-behavior="printer" data-id="<%= printer.id %>">
    <div>
      <%= behavior_link "drilldown" %>
    </div>
     <div>
      Name: <%= printer.name %>
    </div>
    <div>
      Uuid: <%= printer.uuid %>
    </div>
    <div>
      <%= printer.id %> <%= link_to "Edit", edit_printer_path(printer) %>
    </div>
</article>