<article id="<%= dom_id(audit) %>" class="drilldown" data-behavior="audit" data-info="true" data-id="<%= audit.id %>">
  <div class="description"><%= audit.summary %></div>
  <div>
    <%= info_link %>
  </div>
  <div class="info" data-output="info-text" style="display:none;">
    <%= link_to 'X', "#", data: { behavior: "close"}, title: "Close", class: "close" %>
    <div>
      <% audit.record_data.each do |k,v| %>
        <p><%= k %>: <%= v %></p>
      <% end %>
    </div>
  </div>
</article>