<article id="<%= dom_id(audit) %>" class="drilldown" data-behavior="audit" data-id="<%= audit.id %>">
  <div><%= audit.user.login %></div>
  <div><%= audit.action %></div>
  <div><%= audit.record_data %></div>
</article>