<article id="<%= dom_id(audit) %>" class="drilldown" data-behavior="audit" data-id="<%= audit.id %>">
  <div>user: <%= audit.user.login %></div>
  <div>action: <%= audit.action %></div>
  <% audit.record_data.each do |k,v| %>
    <div><%= k %>: <%= v %></div>
  <% end %>
</article>