<article id="<%= dom_id(labware) %>" data-behavior="labware" class="drilldown" data-id="<%= labware.id %>" >
    <div>
      <%= drilldown_link %>
    </div>
    <div class="id">
      <%= labware.id %>.
    </div>
    <div class="name">
      <%= labware.barcode %>
    </div>
    <div>
      <%= info_link %>
    </div>
    <div class="info" data-behavior="info-text" style="display:none;">
      <%= link_to 'X', "#", data: { behavior: "close"}, title: "Close", class: "close" %>
      <div>
        <p>
          Location name: <%= labware.location.name %>
        </p>
        <p>
          Location barcode: <%= labware.location.barcode %>
        </p>
      </div>
    </div>
</article>