<article id="<%= dom_id(labware) %>" data-behavior="labware" class="drilldown" data-id="<%= labware.id %>" >
    <div>
      <%= behavior_link "drilldown" %>
    </div>
    <div>
      <%= labware.id %>.
    </div>
    <div>
      Barcode: <%= labware.barcode %>
    </div>
    <div>
      Location: <%= labware.location.name %>
    </div>
</article>