<article id="<%= dom_id(labware) %>" data-behavior="labware" class="drilldown" data-id="<%= labware.id %>" >
  <div>
    <%= link_to "+", '#', data: { behavior: "drilldown"} %>
  </div>
  <div>
    <%= labware.id %>.
  </div>
  <div>
    Barcode: <%= labware.barcode %>
  </div>
  <div>
    Location: <%= labware.location.name %>
  </div>
   <div>
    <%= link_to_add_data "History:", labware_histories_path(labware) %> <%= labware.histories_count %>
  </div>
</article>