<article id="<%= dom_id(location.morph) %>" class="drilldown" data-behavior="list" data-info="true" data-type="location" data-id="<%= location.id %>">
    <div>
      <%= drilldown_link %>
    </div>
    <div class="description">
      <%= location.name %>
    </div>
    <div class="child-count">
      (<%= pluralize location.child_count, 'child' %>)
    </div>
    <div>
      <%= info_link %>
    </div>
    <div class="info" data-output="info-text" style="display:none;">
      <%= link_to 'X', "#", data: { behavior: "close"}, title: "Close", class: "close" %>
      <div>
        <p>
          Location type: <%= location.location_type.name %>
        </p>
        <p>
          Parent: <%= location.parent.name %>
        </p>
        <p>
          Container: <%= location.container %>
        </p>
        <p>
          Protected: <%= location.protected %>
        </p>
        <p>
          Status: <%= location.status %>
        </p>
        <p>
          Parentage: <%= location.parentage %>
        </p>
        <p>
          Location id: <%= location.barcode %>
        </p>
      </div>
    </div>
    <div>
      <%= print_link %>
    </div>
    <div>
      <%= link_to image_tag("edit.png", alt: "Edit", title: "Edit"), edit_location_path(location) %>
    </div>
    <div>
      <%= audits_link %>
    </div>
    <% location.destroyable do %>
    <div>
      <%= link_to image_tag("delete.png", alt: "Delete", title: "Delete"), [:delete, location.morph], remote: true %>
    </div>
    <% end %>
</article>
