<article id="<%= dom_id(location_type) %>" class="drilldown" data-behavior="location_type" data-id="<%= location_type.id %>">
  <div>
    <%= link_to "+", '#', data: { behavior: "drilldown"} %>
  </div>
  <div>
    <%= location_type.id %>
  </div>
  <div>
    Name: <%= location_type.name %>
  </div>
  <div>
    <%= link_to "Edit", edit_location_type_path(location_type) %> 
  </div>
  <div>
    <% location_type.destroyable do %>
      <%= link_to "Delete", [:delete, location_type], remote: true %>
    <% end %>
  </div>
  <div>
    <%= link_to "+", '#', data: { behavior: "audits"} %>
  </div>
</article>