<%= form_for @location do |f| %>
  <fieldset data-behavior="location">
    <legend><%= header.to_s %></legend>
    <ul>
      <li>
       <%= render "user_code", object: f %>
      </li>
      <li>
      <% unless @location.persisted? %>
        <div class="table">
          <div class="table-row">
            <div class="table-head"><%= f.label :name, 'Name*' %></div>
            <div class="table-head"><%= f.label :start_from, 'Start' %></div>
            <div class="table-head"><%= f.label :end_to, 'End' %></div>
          </div>
          <div class="table-row">
            <div class="table-cell" id="location-name"><%= f.text_field :name %></div>
            <div class="table-cell"><%= f.number_field :start_from, min: 1 %></div>
            <div class="table-cell"><%= f.number_field :end_to, min: 1 %></div>
          </div>
        </div>
      <% else %>
        <%= f.label :name, 'Name*' %>
        <%= f.text_field :name %>
      <% end %>
      </li>
      <li>
        <%= f.label :location_type_id, "Location type*" %>
        <%= f.select :location_type_id, options_from_collection_for_select(LocationType.ordered, :id, :name, @location.location_type_id) %>
      </li>
      <li>
        <%= f.label :parent_id %>
        <%= f.select :parent_id, options_from_collection_for_select(UnorderedLocation.without_location(@location), :id, :barcode, @location.parent_id), {include_blank: true}, {class: 'select2_box', data: {behavior: "select2"}} %>
      </li>
      <li>
        <%= f.check_box :container, data: {toggle: "container"} %>
        <%= f.label :container %>
        <span class="note">(Can store labware)</span>
      </li>
      <li>
        <%= f.check_box :protected, data: {toggle: "Protected"} %>
        <%= f.label :protected %>
        <span class="note">(Can only be moved by an Admin)</span>
      </li>
      <div class="container-options" data-behavior="container">
        <li>
          <%= f.check_box :reserve %>
          <%= f.label :reserve, "Reserve?" %>
          <span class="note">
            <% if @location.reserved? %>
              <%= "Reserved by #{@location.reserved_by.name}" %>
            <% else %>
              (Only your team can store labware in this container)
            <% end %>
          </span>
        </li>
        <li>
          <%= f.check_box :coordinateable, data: {toggle: "coordinates"}, disabled: !locals[:can_toggle_coordinates] %>
          <%= f.label :coordinateable, "Has Co-ordinates" %>
        </li>
        <div class="coordinate-options" data-behavior="coordinates">
          <li>
            <%= f.label :rows %>
            <%= f.number_field :rows, min: @location.coordinateable ? 1 : 0 %>
          </li>
          <li>
            <%= f.label :columns %>
            <%= f.number_field :columns, min: @location.coordinateable ? 1 : 0 %>
          </li>
        </div>
      </div>
      <li>
        <%= f.check_box :status, {}, Location.statuses.keys.first, Location.statuses.keys.last %>
        <%= f.label :status, "Active" %>
      </li>
    </ul>
    <%= f.submit %>
  </fieldset>
<% end %>
