<%= form_for @location do |f| %>
  <fieldset>
    <legend><%= header.to_s %></legend>
    <ul>
      <li>
       <%= render "user_code", object: f %>
      </li>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :location_type_id, "Location type" %>
        <%= f.select :location_type_id, options_from_collection_for_select(LocationType.ordered, :id, :name) %>
      </li>
      <li>
        <%= f.label :parent_barcode %>
        <%= f.text_field :parent_barcode %>
      </li>
      <li>
        <%= f.label :parent_id %>
        <%= f.select :parent_id, options_from_collection_for_select(Location.without_unknown.without(@location), :id, :barcode, @location.parent_id), {include_blank: true} %>
      </li>
      <li>
        <%= f.check_box :container %>
        <%= f.label :container %>
      </li>
      <li>
        <%= f.check_box :status, {}, Location.statuses.keys.first, Location.statuses.keys.last %>
        <%= f.label :status, "Active" %>
      </li>
    </ul>
    <%= f.submit %>
  </fieldset>
<% end %>