<%= form_for @location do |f| %>
  <fieldset>
    <legend><%= header.to_s %></legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :location_type_id, "Location type" %>
        <%= f.select :location_type_id, options_from_collection_for_select(LocationType.all, :id, :name) %>
      </li>
      <li>
        <%= f.label :parent_id, "Parent" %>
        <%= f.select :parent_id, options_from_collection_for_select(Location.without(@location), :id, :barcode, @location.parent_id), {include_blank: true} %>
      </li>
      <li>
        <%= f.label :container %>
        <%= f.check_box :container %>
      </li>
      <li>
        <%= f.label :active %>
        <%= f.check_box :active %>
      </li>
      <li class="labwares">
        <fieldset>
          <legend>Labwares</legend>
          <ul id="labwares">
            <%= f.fields_for :labwares do |builder| %>
              <%= render 'labware_fields', f: builder %>
            <% end %>
            <div>
              <%= link_to_add_fields "Add", f, :labwares %>
            </div>
          </ul>
          
        </fieldset>
      </li>
    </ul>
    <%= f.submit %>
  </fieldset>
<% end %>