<section class="<%= header.to_css_class %>">
  <h1>
    <%= header.to_s %>
  </h1>
  <div>
      <%= link_to "Add new location", new_location_path %>
  </div>
  <table>
    <caption><%= header.to_s %></caption>
    <tr>
      <th>
          ID
      </th>
      <th>
          Name
      </th>
      <th>
        Barcode
      </th>
      <th>
        Location Type
      </th>
      <th>
        Parent
      </th>
      <th>
      </th>
      <th>
        Container
      </th>
      <th>
        Status
      </th>
      <th>
          &nbsp;
      </th>
      <th>
          &nbsp;
      </th>
    </tr>
      <% locations.each do |location| %>
        <tr id="<%= dom_id(location) %>">
            <td>
                <%= location.id %>
            </td>
            <td>
                <%= location.name %>
            </td>
            <td>
                <%= location.barcode %>
            </td>
            <td>
                <%= location.location_type.name %>
            </td>
            <td>
                <%= location.parent.barcode %>
            </td>
            <td>
              <%= location.residents %>
            </td>
            <td>
                <%= location.container %>
            </td>
             <td>
                <%= location.status.humanize %>
            </td>
             <td>
                <%= link_to "View", location_path(location) %>
            </td>
            <td>
                <%= link_to "Edit", edit_location_path(location) %>
            </td>
        </tr>
      <% end %>
  </table>
</section>
